@charset "utf-8";

@font-face {
	font-family: 'PlayRegular';
	src:local('вє'), url('/fonts/play-regular-webfont.ttf') format('truetype'), url('/fonts/play-regular-webfont.svg#PlayRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'Share Tech Mono';
	src:local('вє'), url('/fonts/ShareTechMono-Regular.ttf') format('truetype'), url('/fonts/ShareTechMono-Regular.svg#ShareTechMono-Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Segoe UI Light';
	src:url('/fonts/segoeuil.ttf');
}

@font-face{
	font-family: 'PressStart2P';
	src: url( '/fonts/PressStart2P.ttf' );
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SourceCodePro';
	src: url( '/fonts/SourceCodePro-Regular.ttf' );
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SourceCodePro';
	src: url( '/fonts/SourceCodePro-Bold.ttf' );
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'SourceCodePro';
	src: url( '/fonts/SourceCodePro-It.ttf' );
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family:'Segoe UI';
	src:url('/fonts/segoeui.ttf');
}
@font-face {
	font-family: "Hooge";
	src: local("Hooge"), url('/fonts/hooge.ttf') format("truetype");
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), local('OpenSans-Regular'),
		url('/fonts/openSans.woff') format('woff'),
		url('/fonts/openSans.ttf') format('truetype')
}
@font-face {
	font-family: 'JetBrains Mono';
	src:local('JetBrains Mono Regular'),
	local('JetBrainsMono-Regular'),
	url(/fonts/JetBrainsMono-Regular.woff2) format('woff2'),
	url(/fonts/JetBrainsMono-Regular.woff) format('woff'),
	url(/fonts/JetBrainsMono-Regular.ttf) format('truetype');
	font-weight:400;
	font-style:normal;
	font-display:fallback
   }
code{
	font-family:'JetBrains Mono';
	-webkit-touch-callout: default; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	 -khtml-user-select: text; /* Konqueror HTML */
	   -moz-user-select: text; /* Firefox */
		-ms-user-select: text; /* Internet Explorer/Edge */
			user-select: text; /* Non-prefixed version, currently */
}
body{
	font-family:'Segoe UI', Sans, Arial;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
