*, *:before, *:after { transition: .25s ease-in-out; }
body{
	transition: none;
	background: #E6E4E7;
	padding-right: 5px;
	background-image: url("/images/line.png"), url("/images/fon.png");
	margin: auto;
}
a{
	text-decoration:none;
	outline:none;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	-o-transition-property:all;
	transition-property:all;
	-webkit-transition-duration:0.25s;
	-moz-transition-duration:0.25s;
	-o-transition-duration:0.25s;
	transition-duration:0.25s;
	color: #8BBF52;
}

.mainMenu{
	display: flex;
	align-items: center;
}

.a, .a2{
	background: rgba(114,219,32,0.8);
	color: white;
	padding: 5px;
	margin: 10px;
}

.a2{
	background: rgba( 168, 138, 182, 0.8);
	padding: 1px 5px;
}

.a:hover{ background: rgba(114,219,32,0.2); }
.a2:hover{ background: rgba(168,138,182,0.2); }

.a.selected, .a2.selected{ background: rgba( 100, 100, 100,0.4); }

.languageButtons{
	display: flex;
	align-items: center;
	position: absolute;
	top: 12px;
	right: 32px;
}
.languageButtons img{
	cursor: pointer;
	margin: 10px;
}
.languageButtons .selected{
	-webkit-filter: drop-shadow(0px 0px 10px rgb(255, 156, 0));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.info i{
	color: gray;
	fint-style: italic;
	font-size:8pt;
}

.hidden{ display: none; }
.unvisible{ visibility: hidden; }

hr{
	border: 0px dashed;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
	background-image: -moz-linear-gradient(left, #fff, #000, #fff);
	background-image: -ms-linear-gradient(left, #fff, #000, #fff);
	background-image: -o-linear-gradient(left, #fff, #000, #fff);

}

.block table{ width: 100%; }

.time{
	font-style:italic;
	color:#bbb;
	font-size:10pt;
	display:block;
	margin-bottom:10px;
}

.table{ border-collapse: collapse; }
.table tr{ border-bottom: 1px solid silver; }
.table tr:last-child{ border: none; }
.table .size{ width: 80px; }
.table tr:nth-child(odd){
	background: rgba( 100, 100, 100, 0.25 );
}

.button:hover{
	transform: scale( 1.1 );
	transition: all .218s ease 0s;
	position: relative;
	z-index: 999;
}

article img{
	box-shadow: 3px 3px 1px silver, -3px -3px 1px silver;
}

article {
	text-align: left;
	padding: 5px;
}
article h1{
	margin: 5px 0px;
}

@media only screen and (max-width: 950px){
	.block { width: 95%; margin: 25px auto; display: block; max-height: none; overflow: none; }
	.languageButtons{ display: block; text-align: center; position: static; }
}
@media only screen and (max-width: 1170px){
	.content, .logo {width: 96%;}
}
/* @media only screen and (orientation:portrait){ .menu .a {display: block; width: 95%; margin: auto; margin-bottom: 5px;} } */
