.messageBox{
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 5px;
	font-weight: bold;
}

.messageBox.success{
	border: 2px dashed rgb( 112, 216, 148 );
	background: rgba( 112, 216, 148, 0.75 );
	color: green;
}

.messageBox.error{
	border: 2px dashed rgb( 234, 146, 146 );
	background: rgba( 234, 146, 146, 0.75 );
	color: red;
}
