*, *:before, *:after { transition: .25s ease-in-out; }

body{
	transition: none;
	background: #E6E4E7;
	padding-right: 5px;
	background-image: url("/images/line.png"), url("/images/fon.png");
	margin: auto;
}

.hidden{ display: none; }
.unvisible{ visibility: hidden; }

hr{
	border: 0px dashed;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
	background-image: -moz-linear-gradient(left, #fff, #000, #fff);
	background-image: -ms-linear-gradient(left, #fff, #000, #fff);
	background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

@media only screen and (max-width: 950px){

}
@media only screen and (max-width: 1170px){
	
}
