*, *:before, *:after { transition: .25s ease-in-out; }
body{
	transition: none;
	background: #E6E4E7;
	background-image: url("/images/line.png"), url("/images/fon.png");
	margin: auto;
	max-width: 1440px;
}
a{
	text-decoration:none;
	outline:none;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	-o-transition-property:all;
	transition-property:all;
	-webkit-transition-duration:0.25s;
	-moz-transition-duration:0.25s;
	-o-transition-duration:0.25s;
	transition-duration:0.25s;
	color: #8BBF52;
}

.mainMenu{
	display: flex;
	align-items: center;
}

.a, .a2{
	background: rgba(114,219,32,0.8);
	color: white;
	padding: 5px;
	margin: 10px;
}

.a2{
	background: rgba( 168, 138, 182, 0.8);
	padding: 1px 5px;
}

.a:hover{ background: rgba(114,219,32,0.2); }
.a2:hover{ background: rgba(168,138,182,0.2); }

.a.selected, .a2.selected{ background: rgba( 100, 100, 100,0.4); }

.info i{
	color: gray;
	font-style: italic;
	font-size:8pt;
}

.hidden{ display: none !important; }
.unvisible{ visibility: hidden; }

hr{
	border: 0px dashed;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
	background-image: -moz-linear-gradient(left, #fff, #000, #fff);
	background-image: -ms-linear-gradient(left, #fff, #000, #fff);
	background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

footer{
	display: flex;
	justify-content: center;
}



.block{
	width: 43%;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}
.legend, legend{
	text-transform: uppercase;
	margin: 0px;
	text-shadow: 1px 1px 0px black;
	color: orange !important;
	text-align: left;
	display: flex;
}
.legend .fill, legend .fill{
	background: url("/images/stripe.png") repeat-x 100% 50%;
	flex-grow: 1;
	margin-left: 5px;
}

.block .content{
	background-color: rgba(100,100,100,0.05);
	background-clip: padding-box;
	overflow: auto;
	max-height: 520px;
	text-align: left;
	border: 10px solid transparent;
	border-image: url( "/images/square.png" ) round;
	border-image-slice: 20;
}
.block table{ width: 100%; }



.time{
	font-style:italic;
	color:#bbb;
	font-size:10pt;
	display:block;
	margin-bottom:10px;
}

.table{ border-collapse: collapse; }
.table tr{ border-bottom: 1px solid silver; }
.table tr:last-child{ border: none; }
.table .size{ width: 80px; }
.table tr:nth-child(odd){
	background: rgba( 100, 100, 100, 0.25 );
}



article img{
	box-shadow: 3px 3px 1px silver, -3px -3px 1px silver;
}

article {
	text-align: left;
	margin: 5px;
}
article h1{
	margin: 5px 0px;
}

@media only screen and (max-width: 950px){
	.block { width: 95%; margin: 25px 20px; display: block; max-height: none; overflow: none; }
	.block .content { overflow: unset; }
}
@media only screen and (max-width: 1170px){
	body{ max-width: auto; }
	.content, .logo {width: 96%;}
}
/* @media only screen and (orientation:portrait){ .menu .a {display: block; width: 95%; margin: auto; margin-bottom: 5px;} } */
