
#tooltipBox {
	width: auto;
	max-width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 10000;
	font-size: 9pt;
	pointer-events: none;

	transition: opacity 1s;
}

#tooltipBox.show{ opacity: 1; }
#tooltipBox.hide{ opacity: 0; }
